html, body, #root {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;
    background:
        /*url("")*/
        /*url("../images/bg2.png")*/
        url("../images/bg3.jpg")

        center center;
    background-size: cover;
}

textarea:focus, button:focus {
    outline: none;
}

textarea {
    font-family: Roboto, sans-serif;
}
