html, body, #root {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;
    background: /*url("")*/ /*url("../images/bg2.png")*/ url("../images/bg3.jpg") center center;
    background-size: cover;
}

textarea:focus, button:focus {
    outline: none;
}

textarea {
    font-family: Roboto, sans-serif;
}

h1 {
    font-weight: normal;
}


.animated-item-enter {
    opacity: 0.01;
}

.animated-item-enter.animated-item-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.animated-item-leave {
    opacity: 1;
}

.animated-item-leave.animated-item-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}
